@import "mobile-gallery.css";
@import "tablet-gallery.css";
@import "desktop-gallery.css";

body {
  background-image: url('../img/page-bg.jpg');
}

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #263555;
  text-transform: uppercase;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1024px;
  min-width: 320px;
  width: 70vw;
  padding: 60px 5%;
  margin: 0 auto;
  background-color: #fff;
}

.gallery {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.gallery li {
  position: relative;
  display: block;
  width: 100%;
  margin: 20px 0;
  background-color: #000;
}

.zoom {
  display: none;
  width: 33px;
  height: 33px;
  background-image: url('../img/icon.png');
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 45%;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery li:hover .zoom {
  display: block;
}

.gallery li:hover img{
  opacity: 0.5;
}
