.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: linear-gradient(to bottom, #000 0%, rgba(15,15,110,1) 22%, rgba(197,23,240,1) 100%);
}

ul.social-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  list-style: none;
  padding: 0;
  background-color: inherit;
}

.social-web li {
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
}


.social-web a {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../img/css_sprites.png);
  background-size: 240px 240px;
}

.twitter {
  background: url('../css_sprites.png') -10px -10px;
}

.twitter:hover,
.facebook:hover,
.google:hover,
.linkedin:hover {
  filter: saturate(100%) grayscale(100%);
}

.facebook {
  background: url('../css_sprites.png') -70px -70px;
}

.google {
  background: url('../css_sprites.png') -130px -130px;
}

.linkedin {
  background: url('../css_sprites.png') -190px -190px;
}
