body {
  background-image: url("../img/page-bg.png");
  font-family: 'Arial Regular', sans-serif;
  color: #263555;
}
.wrapper {
  width: 404px;
  margin: 240px auto 240px;
  padding: 60px 38px;
  background-color: #fff;
}
.principles {
  padding-bottom: 42px;
  border-bottom: 1px solid #dedbdb;
}
.principles p {
  width: 330px;
}
h1, h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}
h2 {
  margin-top: 50px;
}
h3, li {
  font-size: 14px;
}
p {
  font-size: 12px;
  line-height: 1.3;
  color: #4e5050;
}
img {
  display: block;
}
ul {
  width: 380px;
  height: 190px;
  list-style-type: none;
  padding-left: 24px;
  vertical-align: top;
}
li {
  display: inline-block;
  width: 180px;
  padding: 10px 0;
}
