// palette
$color-wrap: #fff;
$color-link: #fff;
$color-default: #000;
$color-link-hover: #263555;
$color-sublink: #6b7488;
$color-footer: #30455b;
$color-footer-hover: #38afe5;

// fonts
$standart-font: 'Pathway Gothic One', sans-serif;
$logo-font: 'Dorsa', sans-serif;
$footer-list-font: 'Open Sans Condensed', sans-serif;
$default-font: 'Arial Regular', sans-serif;

// blocks-width
$max-w: 1024px;
$min-w: 320px;
$view-w: 70vw;
